# ignore .DS_Store stuff
.DS_Store

# ignore virtural environment
.venv
venv

# ignore environment variables
.env 

# ignore any developer updates to config.ini
/config.ini

# ignore testing receipts
AzureDIConnection/PublixReceipt.jpg
AzureDIConnection/TraderJoesReceipt.jpg
AzureDIConnection/WalmartReceipt.jpg

# ignore any pycache files
__pycache__/
*.pyc
*.pyo
